<nav class="
    fixed
    w-full
    z-50
    transition-all
    duration-300
    ease-in-out
    flex flex-col flex-shrink-0
    
  " x-data="navbar()" x-init="initTheme()" x-on:scroll.window="scroll()"
  x-on:mouseleave="megamenuOpened = false, openedMegamenu = ''" x-bind:class="{
    'bg-white shadow-lg shadow-muted-400/10': scrolled,
    '': !scrolled,
    'bg-white dark:bg-white-800': mobileOpen,
    '': !mobileOpen,
    
}">



  <div class="w-full">
    <div class="
        w-full
        max-w-7xl
        
        mx-auto
        flex flex-wrap
        py-2
        px-5
        flex-row
        items-center
        sm:justify-between
      ">
      <div class="flex justify-between items-center w-full lg:w-1/5">
        <a href="/home.html" class="group flex font-sans font-light items-center gap-4 text-white">
          <div class="
              h-19
              w-19
              group-hover:text-primary-500
              transition-colors
              duration-300
            ">
            <img class="h-full w-full object-cover"
              :src="!mobileOpen && !scrolled ? '/img/logo/logGHH-white.png' : '/img/logo/logGHH-black.png'"
              alt="Cars in line" width="576" height="576" />
          </div>
        </a>

        <!-- Hamburger -->
        <button class="
            flex
            relative
            justify-center
            items-center
            ml-auto
            w-10
            h-10
            focus:outline-none
            lg:hidden
            scale-90
          " @click="mobileOpen = !mobileOpen">
          <div class="block top-1/2 left-6 w-4 -translate-x-1/2 -translate-y-1/2">
            <span class="
                block
                absolute
                w-7
                h-0.5
                bg-current
                transition
                duration-500
                ease-in-out
              " :class="[
              mobileOpen ? 'rotate-45' : '-translate-y-2 ',
              scrolled || mobileOpen ? 'text-black' : 'text-white',
            ]"></span>
            <span class="
                block
                absolute
                w-5
                h-0.5
                bg-current
                transition
                duration-500
                ease-in-out
              " :class="{
                'opacity-0': mobileOpen,
                'text-black': mobileOpen || scrolled, 
                'text-white': !mobileOpen && !scrolled,
              }"></span>
            <span class="
                block
                absolute
                w-7
                h-0.5
                bg-current
                transition
                duration-500
                ease-in-out
              " :class="[mobileOpen ? '-rotate-45' : 'translate-y-2',
              scrolled || mobileOpen ? 'text-black' : 'text-white',]"></span>
          </div>
        </button>
      </div>
      <div class="hidden text-center lg:text-left lg:flex flex-grow" :class="{
          'block': mobileOpen,
          'hidden': !mobileOpen
      }">
        <ul class="
            flex flex-col
            mt-3
            mb-1
            lg:flex-row lg:mx-auto lg:mt-0 lg:mb-0 lg:gap-x-4
          ">
          <li class="relative" x-on:mouseover="megamenuOpened = true, openedMegamenu = 'megamenu-1'">
            <button type="button" class="
                group
                relative
                inline-flex
                items-center
                gap-1
                text-base
                font-semibold 
                py-2
                md:mx-2
                tw-accessibility
              " :class="{
                'z-40': megamenuOpened,
                'z-50': !megamenuOpened,
                'text-white': !scrolled && !mobileOpen,
                'text-black': scrolled,
              }">
              <span>Vehiculos</span>
              <iconify-icon class="
                  iconify
                  w-5
                  h-5
                  flex items-center justify-center
                  transition-transform
                  duration-300
                " :class="[
                openedMegamenu === 'megamenu-1' && megamenuOpened ? 'rotate-180' : '',

                ]" icon="lucide:chevron-down"></iconify-icon>
            </button>

            <!--Megamenu-->
            {{> navigation/megamenu-cars}}
          </li>
          <li class="relative" x-on:mouseover="megamenuOpened = true, openedMegamenu = 'megamenu-2'">
            <button type="button" class="
                group
                relative
                inline-flex
                items-center
                gap-1
                text-base
                font-semibold 
                py-2
                md:mx-2
                tw-accessibility
              " :class="{
              'z-40': megamenuOpened,
              'z-50': !megamenuOpened,
              'text-white': !scrolled && !mobileOpen,
              'text-black': scrolled,
              }">
              <span>Servicios</span>
              <iconify-icon class="
                  iconify
                  w-5
                  h-5
                  flex items-center justify-center
                  transition-transform
                  duration-300
                " :class="[
                openedMegamenu === 'megamenu-2' && megamenuOpened ? 'rotate-180' : '',
            ]" icon="lucide:chevron-down"></iconify-icon>
            </button>
            <!--Megamenu-->
            {{> navigation/megamenu-brands}}
          </li>
          <li class="relative" x-on:mouseover="megamenuOpened = true, openedMegamenu = 'megamenu-3'">
            <button type="button" class="
                group
                relative
                inline-flex
                items-center
                gap-1
                text-base
                font-semibold 
                py-2
                md:mx-2
                tw-accessibility
              " :class="{
              'z-40': megamenuOpened,
              'z-50': !megamenuOpened,
              'text-white': !scrolled && !mobileOpen,
              'text-black': scrolled,
              }">
              <span>Nosotros</span>
              <iconify-icon class="
                  iconify
                  w-5
                  h-5
                  flex items-center justify-center
                  transition-transform
                  duration-300
                " :class="[
                openedMegamenu === 'megamenu-3' && megamenuOpened ? 'rotate-180' : '',
            ]" icon="lucide:chevron-down"></iconify-icon>
            </button>
            <!--Megamenu-->
            {{> navigation/megamenu-history}}
          </li>
          <li x-on:mouseover="megamenuOpened = false, openedMegamenu = ''">
            <a href="/contact" class="
                block
                text-base
                font-semibold 
                py-2
                md:mx-2
                tw-accessibility
              " :class="{
                'text-white': !scrolled && !mobileOpen,
                'text-black': scrolled || mobileOpen,
              }">
              Contactano
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


</nav>