<div class="
    absolute
    top-4
    inset-x-0
    w-full
    max-w-xs
    rounded
    mx-auto
    p-2
    bg-white
    dark:bg-muted-800
    shadow-xl shadow-muted-400/10
    dark:shadow-muted-800/10
    z-10
  ">
  <div class="
      w-full
      flex
      font-medium
      items-center
      justify-center
      gap-4
      text-muted-900
      dark:text-muted-100
    ">
    <!--Home link-->
    <!--Site logo-->
    <div class="
        h-14
        w-19
        group-hover:text-primary-500
        transition-colors
        duration-300
      ">
      <a href="/home.html">
        <img class="h-full w-full object-cover" src="/img/logo/logGHH-black.png" alt="Cars in line" width="976"
          height="476" />

      </a>

    </div>
    <!--Theme toggler-->

  </div>
</div>