<div class="max-w-6xl mx-auto">
  <img src="/img/photo/history/GHH1.jpg" alt="Historia de GHH"
    class="w-full h-[480] md:h-[480px] object-cover rounded-lg shadow-md mb-8">
  <div class="">
    <h2 class="text-3xl font-bold text-gray-800 dark:text-white mb-4 text-center">Historia de GHH</h2>
    <p class="text-gray-600 dark:text-gray-400 leading-relaxed text-justify">
      Somos tan sólidos como una roca... y lo hemos sido desde 1964. El inicio de GHH se remonta a la eponimia
      "Gutehoffnungshuette", que comenzó sus operaciones en 1782 en Oberhausen, Alemania. Junto con las obras de
      St. Antony de 1758 y las de "Neu-Essen", este fue el nacimiento del área del Ruhr como centro de manufactura
      de hierro.
    </p>
    <p class="text-gray-600 dark:text-gray-400 mt-4 leading-relaxed">
      En 1808, las tres fundiciones se fusionaron bajo el sindicato comercial Jacoby, Haniel & Huyssen (JHH).
      A partir de 1820, JHH se enfocó cada vez más en la construcción de maquinaria, fabricando motores de vapor,
      barcos de vapor, locomotoras, rieles y puentes.
    </p>
  </div>
</div>

<!-- Otras Historias -->
<div class="max-w-6xl py-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 mt-12">
  <!-- Divisiones de la Empresa -->
  <div class="flex flex-col items-center md:items-start text-justify">
    <img src="/img/photo/history/GHH2.jpg" alt="Divisiones de la Empresa"
      class="w-full h-64 object-cover rounded-lg shadow-md mb-6">
    <div>
      <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Divisiones de la Empresa</h3>
      <p class="text-gray-600 dark:text-gray-400 leading-relaxed">
        Las divisiones de la empresa que permanecieron en Oberhausen operaban bajo el nombre de MAN Gutehoffnungshuette.
        Divisiones como la construcción de vehículos, la línea de producción de juegos de ruedas y la fabricación de
        compresores de tornillo fueron vendidas, aunque algunas aún conservan el acrónimo GHH en su nombre.
      </p>
      <p class="text-gray-600 dark:text-gray-400 mt-4 leading-relaxed">
        En 1995, la división de "vehículos mineros y túneles" finalmente se convirtió en GHH Fahrzeuge GmbH, que fue
        adquirida por la empresa familiar Schmidt Kranz Holding en 1999.
      </p>
    </div>
  </div>

  <!-- Empresa Conjunta -->
  <div class="flex flex-col  items-center md:items-start text-justify">
    <img src="/img/photo/history/GHH3.jpg" alt="Empresa Conjunta"
      class="w-full h-64 object-cover rounded-lg shadow-md mb-6">
    <div>
      <h3 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Empresa Conjunta</h3>
      <p class="text-gray-600 dark:text-gray-400 leading-relaxed">
        En 2004, se estableció GHH Mining Machines RSA como una empresa conjunta, aumentando significativamente la
        huella de productos. Desde 2005, la oficina central se encuentra en Gelsenkirchen, Alemania.
      </p>
      <p class="text-gray-600 dark:text-gray-400 mt-4 leading-relaxed">
        Gracias a la asociación con Mine Master en Polonia, iniciada en 2006, GHH agregó a su portafolio equipos de
        perforación y bulonado, así como plataformas de producción. GHH Fahrzeuge GmbH, Mine Master, GHH Mining Machines
        y sus socios han formado con éxito el Grupo GHH, creando un portafolio integral de productos y convirtiéndose
        en un proveedor de soluciones totales para los clientes.
      </p>
    </div>
  </div>
</div>